h1 {
    font-style: italic;
    font-size: xx-large;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}
#logo-img {
    width: 50px;
    border-radius: 25px;
}
#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#sign-in-button {
    background-color: white;
    color: black;
}